img[alt=left-small] {
    float: left;
    width: 350px;
    padding: 15px;
}

.note {
    border-left-width: 4px;
    border-left-style: solid;
    position: relative;
    border-color: #0594cb;
    display: block;
    box-sizing: border-box;
    display: block;
    margin: 0;
    padding: .125em 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    overflow-x: auto;
    background-color: rgba(0,0,0,5%);
}

.warning {
    border-left-width: 4px;
    border-left-style: solid;
    position: relative;
    border-color: red;
    display: block;
    box-sizing: border-box;
    display: block;
    margin: 0;
    padding: .125em 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    overflow-x: auto;
    background-color: rgba(0,0,0,5%);
}

