<hgroup>

<header class='clearfix' id='header-wrapper'>
<div class='logo section' id='logo'><div class='widget Header' id='Header1'>
<div id='header-inner'>
<a href='http://blog.jetoile.fr/' style='display: block'>
<img alt='Je toile ou j* au choix...' height='65px; ' id='Header1_headerimg' src='http://1.bp.blogspot.com/-qPwOeqrjoeY/USaumykl0nI/AAAAAAAAA2I/hLpEO00WPbE/s1600/logoJetoile_v51.png' style='display: block' width='233px; '/>
</a>
</div>
</div></div>
<div class='block_right' id='section-right'>
<ul class='social'>
<li><a class='twitter' href='http://twitter.com/jetoile' title='Follow Us'>Twitter</a></li>
<li><a class='linkedin' href='http://www.linkedin.com/pub/khanh-tuong-maudoux/19/92b/11b' title='Linkedin'>Linkedin</a></li>
<li><a class='google' href='https://plus.google.com/109475784288518806536/posts' title='Google Profile'>Google</a></li>
<li><a class='rss' href='http://feeds.feedburner.com/jetoile' title='Subscribe via RSS'>RSS</a></li>
</ul>
</div>
<div class='block_right' id='block_right'>
<ul class='sf-menu dropdown'>
<li><a href='http://blog.jetoile.fr/'>Home</a></li>
<li><a href='http://jetoile.blogspot.fr/p/a-propos.html'>A propos du blog</a></li>
<li><a href='http://jetoile.blogspot.fr/p/a-propos-de-lauteur.html'>A propos de l'auteur</a></li>
<!--li><a href='http://jetoile.blogspot.fr/p/me-contacter.html'>Me contacter</a></li-->
</ul>
</div>
<div id='header-shadow'></div>
</header>
<!-- Header end -->
<div class='clearfix' id='slider-wrapper'>
<div id='slider'>
<!--script src='/feeds/posts/default/-/java?orderby=updated&amp;alt=json-in-script&amp;callback=featured_slideshow' type='text/javascript'/-->
<script src='/feeds/posts/default/?orderby=updated&alt=json-in-script&callback=featured_slideshow' type='text/javascript'></script>
<a href='#' id='next'>Next</a>
<a href='#' id='prev'>Prev</a>
<div id='pager'></div>
<div id='slidershadow'></div>
</div>
</div>

  <h1><a href="{{ root_url }}/">{{ site.title }}</a></h1>
  {% if site.subtitle %}
    <h2>{{ site.subtitle }}</h2>
  {% endif %}
</hgroup>
