<div id="about-me" class="col-md-offset-3 col-md-6">
<!--<div class="social-icon-list">
<a href="http://blog.jetoile.fr/" style="display: block"><img alt="Je toile ou j* au choix..." height="65px; " id="Header1_headerimg" src="http://1.bp.blogspot.com/-qPwOeqrjoeY/USaumykl0nI/AAAAAAAAA2I/hLpEO00WPbE/s1600/logoJetoile_v51.png" style="display: block" width="233px; "></a>
<h4><a href='http://jetoile.blogspot.fr/p/a-propos.html'>A propos du blog</a></h4>
<h4><a href='http://jetoile.blogspot.fr/p/a-propos-de-lauteur.html'>A propos de l'auteur</a></h4>
<h4><a href='http://jetoile.blogspot.fr/p/me-contacter.html'>Me contacter</a></h4>
</div>
  <div class="social-icon-list">
    <a title="Twitter" href="http://twitter.com/jetoile"><img src="/images/glyphicons_social_31_twitter.png"/></a>
    <a title="GitHub" href="https://github.com/sevenadrian"><img src="/images/glyphicons_social_21_github.png"/></a>
    <a title="E-Mail" href="mailto:adrian.r.artiles@gmail.com"><img src="/images/glyphicons_social_39_e-mail.png"/></a>
  </div-->
<div id='header-wrapper'>
<div class='logo section' id='logo'><div class='widget Header' id='Header1'>
<div id='header-inner'>
<a href='{{ site.url }}' style='display: block'>
<img alt='Je toile ou j* au choix...' height='65px; ' id='Header1_headerimg' src='/images/logoJetoile_v51.png' style='display: block' width='233px; '/>
</a>
</div>
</div></div>
<div class='block_right' id='section-right'>
<ul class='social'>
<li><a class='twitter' href='http://twitter.com/jetoile' title='Follow Us'>Twitter</a></li>
<li><a class='linkedin' href='http://www.linkedin.com/pub/khanh-tuong-maudoux/19/92b/11b' title='Linkedin'>Linkedin</a></li>
<li><a class='google' href='https://plus.google.com/109475784288518806536/posts' title='Google Profile'>Google</a></li>
<li><a class='rss' href='{{ site.url }}/atom.xml' title='Subscribe via RSS'>RSS</a></li>
</ul>
</div>
<div class='block_right' id='block_right'>
<ul class='sf-menu dropdown'>
<!--li><a href='{{ root_url }}'>Home</a></li-->
<li><a href='{{ root_url }}/a-propos'>A propos du blog</a></li>
<li><a href='{{ root_url }}/a-propos-auteur'>A propos de l'auteur</a></li>
<li><a href='{{ root_url }}/blog/archives'>Archives</a></li>
<li><a href='{{ root_url }}/blogotheque'>Liens</a></li>
<li><a href='{{ root_url }}/hadoop-unit'>Hadoop Unit</a></li>
</ul>


</div>
</div>
</div>

<!--div id='header-wrapper'>
<div class='logo section' id='logo'><div class='widget Header' id='Header1'>
<div id='header-inner'>
<a href='http://blog.jetoile.fr/' style='display: block'>
<img alt='Je toile ou j* au choix...' height='65px; ' id='Header1_headerimg' src='http://1.bp.blogspot.com/-qPwOeqrjoeY/USaumykl0nI/AAAAAAAAA2I/hLpEO00WPbE/s1600/logoJetoile_v51.png' style='display: block' width='233px; '/>
</a>
</div>
</div></div>
<div class='block_right' id='section-right'>
<ul class='social'>
<li><a class='twitter' href='http://twitter.com/jetoile' title='Follow Us'>Twitter</a></li>
<li><a class='linkedin' href='http://www.linkedin.com/pub/khanh-tuong-maudoux/19/92b/11b' title='Linkedin'>Linkedin</a></li>
<li><a class='google' href='https://plus.google.com/109475784288518806536/posts' title='Google Profile'>Google</a></li>
<li><a class='rss' href='http://feeds.feedburner.com/jetoile' title='Subscribe via RSS'>RSS</a></li>
</ul>
</div>
<div class='block_right' id='block_right'>
<ul class='sf-menu dropdown'>
<li><a href='http://blog.jetoile.fr/'>Home</a></li>
<li><a href='http://jetoile.blogspot.fr/p/a-propos.html'>A propos du blog</a></li>
<li><a href='http://jetoile.blogspot.fr/p/a-propos-de-lauteur.html'>A propos de l'auteur</a></li>
</ul>
</div>
</div-->
